body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "open sans";
}
h1 {
  font-size: 28px !important;
}
h2 {
  font-size: 22px !important;
}
h3 {
  font-size: 22px !important;
}
/* Presentación del perfil */
.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  background: -webkit-linear-gradient(to right, #ffffff, #f1f1f1);
  background: linear-gradient(to right, #ffffff, #f1f1f1);
  height: 100%;
  width: 100%;
  text-align: center;
}
.profile_picture {
  width: 25vh;
  border-radius: 50%;
  margin: 100px 0 44px 0;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
.cta {
  margin: 22px 0 0 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.button_primary {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 22px;
  background-color: #25d366;
  border-radius: 42px;
  display: flex;
  align-items: center;
}
.button_primary svg {
  margin: 0 10px 0 0;
}
.button_secundary {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 10px;
}
.scroll_down {
  height: 40px;
  width: 25px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 16px;
  margin: 44px auto 0 auto;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
a.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #999;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}
@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Cuerpo del CV */
#resume,
#education,
#aptitudes,
#experience,
#portfolio {
  margin: 100px 22px 0px 22px;
}
#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
#icons img {
  height: 32px;
  margin: 10px 5px;
}
#experience a {
  text-decoration: none;
}
.portfolio {
  margin: 44px 0 0 0;
}
#portfolio .slick-slide {
  margin: 0 5px;
}
#portfolio .slick-dots li button {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#portfolio a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
#portfolio img {
  background: #f1f1f1;
  background: -webkit-linear-gradient(to right, #ffffff, #f1f1f1);
  background: linear-gradient(to right, #ffffff, #f1f1f1);
  border-radius: 10px;
  padding: 44px 0;
}
#portfolio h2 {
  margin: 22px 0 0 0 !important;
}
#portfolio p {
  margin: 10px;
}
#contact input,
textarea,
button {
  width: 100%;
  margin: 4px 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
#contact input {
  height: 48px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  color: #000;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #ccc;
  border-right: none;
  padding: 10px 16px;
  margin: 4px 0 0 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
#contact textarea {
  height: 200px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  color: #000;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #ccc;
  border-right: none;
  padding: 10px 16px;
  margin: 4px 0 0 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
#contact button {
  height: 48px;
  width: 200px;
  display: block;
  margin: 4px auto 0 auto;
  background-color: royalblue;
  border-radius: 10px;
  color: #fff;
  border: none;
}
#contact ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}
#contact li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#contact svg {
  line-height: 22px;
  width: 22px;
  background: #f1f1f1;
  padding: 16px 16px;
  border-radius: 10px;
  margin: 0 10px 0 0;
}

#form {
  margin: 0 16px 44px 16px;
}
footer {
  text-align: center;
  padding: 32px 0;
}
