body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "open sans";
}
h1 {
  font-size: 32px !important;
}
h2 {
  font-size: 22px !important;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 18px !important;
}
p {
  font-size: 18px !important;
}
/* Hero */
.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  background: -webkit-linear-gradient(to right, #ffffff, #f1f1f1);
  background: linear-gradient(to right, #ffffff, #f1f1f1);
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 22px;
}
/* Profile picture */
.profile_picture {
  width: 25vh;
  border-radius: 50%;
  margin: 100px 0 44px 0;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
/* Call to action */
.cta {
  margin: 44px 0 0 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
/* Primary button */
.button_primary {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 22px;
  background-color: #25d366;
  border-radius: 42px;
  display: flex;
  align-items: center;
  margin: 10px 10px;
}
.button_primary svg {
  margin: 0 10px 0 0;
}
/* Secundary button */
.button_secundary {
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 10px;
  margin: 10px 10px;
}
/* Widget scroll down */
.scroll_down {
  height: 44px;
  width: 22px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 22px;
  margin: 100px auto 0 auto;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
a.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #999;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}
@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#resume,
#education,
#aptitudes,
#experience,
#portfolio,
#contact {
  margin: 100px 22px 0px 22px;
}
/* Skill icons */
#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
#icons img {
  height: 32px;
  margin: 10px 5px;
}
#experience a {
  text-decoration: none;
}
.portfolio {
  margin: 44px 0 0 0;
}
#portfolio .slick-slide {
  margin: 0 5px;
}
#portfolio .slick-dots li button {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#portfolio a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
#portfolio .slick-slide img {
  background: #f1f1f1;
  background: -webkit-linear-gradient(to right, #ffffff, #f1f1f1);
  background: linear-gradient(to right, #ffffff, #f1f1f1);
  border-radius: 10px;
  padding: 44px 0;
}
#portfolio h2 {
  margin: 22px 0 0 0 !important;
}
#portfolio p {
  margin: 10px;
}
#contact p {
  margin-bottom: 50px;
}
#contact ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}
#contact .social {
  display: flex;
}
@media screen and (max-width: 767.98) {
  #contact .social {
    margin-top: 50px;
  }
}
#contact li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#contact svg {
  line-height: 22px;
  width: 22px;
  background: #f1f1f1;
  padding: 16px 16px;
  border-radius: 10px;
  margin: 0 10px 0 0;
}
footer {
  color: #000;
  text-align: center;
  padding: 44px 0 18px 0;
  margin: 100px 0 0 0;
  background: #fafafa;
}
